.container {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
 
  .btn, .navigate {
    border: none;
    font-weight: 700;
    background-color: red;
    color: var(--negro);
    width: auto;
    height: auto;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover,.navigate:hover {
    background-color: red;
    color: rgb(179, 171, 103);
    font-weight: 700;
  }
 
  .btnselec {
    background-color:darkcyan ;
    color: rgb(177, 148, 148) ;
    font-weight: 700;
    padding: 10px;
    margin: 2px;
  }