.container{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  
  }
  .section {
      
      font-size: 1.1rem;
      height: auto;
      width: 30%;
      border-radius: 1rem;
      border: solid 2 px blue;
      background: rgb(25,117,119);  
      background: linear-gradient(0deg, rgba(25,117,119,1) 0%, rgba(35,10,222,1) 100%);
      box-shadow: 1px 1px 3px orangered;
      color: rgb(244, 247, 240);
      padding: 20px;
      margin: auto;
    }
  
    .description{
      display: flex;
      justify-content: space-between;
    }
  
    .section img {
     width: 55%;
     height: 65%;
     border-radius: 10%;
     filter: brightness(110%);
   }
   .section h3{
     border-bottom: 1px solid var(--primary-color);
   }

   .link{
color: rgb(244, 247, 240);
font-size: x-large

   }