.land{
    background-image: url( ../Imagenes/landin3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: xxx-large;
    color: mediumspringgreen;
    background-color: rgba (255, 0, 0, 0.4);
    width: 100%

    }


    


