.land {
    background-image: url(../Imagenes/landin3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: xxx-large;
    color: white;
    background-color: rgba (255, 0, 0, 0.4);
    width: 100%
}

.btn {
    font-size: xx-large;
}
@media (max-width: 768px) {
    .land {
        background-size: 100%;
        width: 100%;
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    .land {
        background-size: 100%;
        width: 100%;
        font-size: 15px;
    }

    .btn {
        font-size: 15px;
    }
}


